{% extends "base.html" %}
{% block title %}Methodology{% endblock %}

{% block content %}
<h2 class="mb-4">Methodology</h2>

<div class="bg-white shadow-sm p-3 rounded">
    <p>The Dashboard</p>
    <p>An overview:</p>
    <ul>
      <li>First, we tested webscraping across several sites.</li>
      <li>Later, we gathered and cleaned data on job postings into CSV files using jobspy.</li>
      <li>More specialized tools like SpaCy and PhraseMatcher were used to get an overview of the skills in demand for this job market.</li>
      <li>Develop recommendation model using sklearn, and test with different resumes to improve its match rate.</li>
      <li>The interactive component of this website, the recommendation model under "Resume Match", will take your resume and show you a sample of suitable job postings, after converting your resume and the job descriptions into numerical vectors via and analyzing cosine similarity.</li>
    </ul>
</div>
{% endblock %}
