{% extends "base.html" %}
{% block title %}Methodology{% endblock %}

{% block content %}
<h2 class="mb-4">Methodology</h2>

<div class="bg-white shadow-sm p-3 rounded">
    <p>The Dashboard</p>
    <p>Key steps:</p>
    <ul>
      <li>Test webscraping across several sites</li>
      <li>Gather and clean data on job postings into CSV files using jobspy</li>
      <li>Build the website using HTML + CSS, and plot data for analysis.</li>
      <li>Develop recommendation model using sklearn, and test with different resumes to improve its match rate.</li>
    </ul>
</div>
{% endblock %}
